<% include partials/header%>
<div class="container">
    <div class="col-md-8 offset-md-2">
        <div class="card">

            <h2 style="text-align: center;margin-top: 3rem;">Main Menu</h2>
            <a  href="" class="btn btn-primary md-6" style="margin-bottom: 1rem;font-size: 1.8rem;">Log Screen</a> 
            <a  href="/new-job/" class="btn btn-primary md-6" style="margin-bottom: 1rem;font-size: 1.8rem;">New Job</a> 
            <a  href="" class="btn btn-primary md-6" style="margin-bottom: 1rem;font-size: 1.8rem;" >Review Job</a> 
            <a  href="" class="btn btn-primary md-6" style="margin-bottom: 1rem;font-size: 1.8rem;">Setup</a>
         </div>
    </div>
</div>
<% include partials/footer%>