<% include partials/header%>
    <div class="container" style="text-align:center; margin-top: 4rem;">
        <h1 style="margin-bottom: 2rem;">Torque Logging System v1.0</h1>
        <p>Developed by</p>
       
        <h2>Daniel Alfonso Garcia</h2>
        <p>for</p>
        <h2>Schlumberger</h2>
        <p>Delta Tech 2019 &reg;</p>
    </div>
<% include partials/footer%>