<% include partials/header%>
<div class="contenedor">
    <h1>Review Jobs</h1>
    <div class="col-md-6" style="display: flex; flex-direction: row; align-content: center;margin-top: 2rem;" >
            <a href="/view-connections/<%=tool._id%>" class="btn btn-primary" style="padding: 2rem;  margin:0.5rem; font-size: 2rem;"> Completed</a>
        <a href="" class="btn btn-primary" style="padding: 2rem; margin:0.5rem; font-size: 2rem;">In-Progress </a>
        
        
    </div>
</div>
<% include partials/footer%>