<% include partials/header%>
<div class="container" style="margin-top: 2rem;  ">
    <div class="row">

        <div class="col-md-7 ">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">


                    <form action="/add" method="POST" style="margin: 2rem; margin-bottom: 1rem;">
                        <h2 style="text-align: center;">New Job Data</h2>
                        <div class="form-group">
                            <label for="">Customer:</label>
                            <input type="text" name="customer" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="">Tool Type:</label>
                            <input type="text" style="text-transform:uppercase;"
                                onkeyup="javascript:this.value=this.value.toUpperCase();" name="tool_type"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="">File Code:</label>
                            <input type="text" name="file_code" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="">Tool Serial:</label>
                            <input type="text" name="tool_serial" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="">Operator:</label>
                            <input type="text" name="operator" class="form-control" required>
                        </div>
                    
                </div>
            </div>
        </div>

    <div class="col-md-4" style=" margin-left:20px; display: flex; flex-direction: column;align-items: center; justify-content: center;margin-top: 2rem;">
        <button type="submit" class="btn btn-primary"  style=" padding: 2rem;  margin:0.5rem; font-size: 2rem;">Save Job</button>
    </div>
</form>

    </div>
</div>



<% include partials/footer%>