<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Print Job</title>
    <link rel="stylesheet" href="../public/css/stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header class="navbar navbar-dark bg-dark" >
        <h3 style="color:ghostwhite"><a href="/" style="text-decoration: none;color: ghostwhite;">Torque Logging System</a> </h3>
    </header>
    <div class="title"> 
        <div> <img class="logo" src="../public/img/Schlumberger-Logo.png" alt="logo"></div>
        
        <div><h2>Torque Report</h2></div>
        
    </div>
    
   
</body>
</html>