.logo{
 max-width: 200px;
}

.title{
    display: flex;
    flex-direction: column;   
    align-items: left;

}

h2{
    text-align: center;
}

.connections{
    display: flex;
    flex-wrap: wrap;
}

.connection{
    flex: 1 0 33%;
    max-width: 250px;
}